{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block titulo %}Ferreteria{% endblock %}</title>
  </head>
  <body>
    <header>
    {% include 'user/header.html' %}
    </header>
    <main>
    {% block contenido %}
    {% endblock %}
    </main>
  <footer>
    {% include 'user/footer.html' %}
  </footer>
</body>
</html>