<section class="foot mb-5">
  <div class="container footer">
    <div class="row mt-3 pt-3">
      <div class="col-xs-12 col-md-4">
        <p class="h5">PRODUCTOS</p>
        <div class="mb-2">
          <a class="tornilleria text-decoration-none" href="{% url 'lista-productos' %}">TORNILLERÍA</a>
        </div>
        <div class="mb-2">
          <a class="herramientas text-decoration-none" href="{% url 'lista-productos' %}">HERRAMIENTAS</a>
        </div>
        <div class="mb-2">
          <a class="materiales text-decoration-none" href="{% url 'lista-productos' %}">MATERIALES DE CONSTRUCCIÓN</a
          >
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="h3">SERVICIOS</p>
        <div class="mb-2">
          <a class="aseosria text-decoration-none" href="{% url 'servicios-user' %}">ASESORÍA</a>
        </div>
        <div class="mb-2">
          <a class="diseños text-decoration-none" href="{% url 'servicios-user' %}">DISEÑOS</a>
        </div>
        <div class="mb-2">
          <a class="catalogo text-decoration-none" href="{% url 'lista-productos' %}">CATALOGO</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="h3">CONTÁCTANOS</p>
        <div class="mb-2">
          <p class="numero">+57 3135402587</p>
        </div>
        <div class="mb-2">
          <p class="correo">ferrewSm@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
