{% extends '../../layouts/partials/admin/body.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
  <div class="container">
    <h1 class="my-4">Lista de Servicios</h1>
    <div class="row">
      <div class="rounded card p-3 col-md-3">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-success" type="submit" value="Agregar" />
          {% include '../../layouts/partials/admin/modal/modal-eliminar.html' %}
        </form>
      </div>
      <div class="col-md-8 ms-4">
        <table class="table table-striped" id="usuarios-table">
          <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>

              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody id="users-table-body">
            <!-- Los datos de los usuarios se insertarán aquí -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<script>console.log("hola")</script> <!-- RECORDAR QUITAR-->
  <script>
    $(document).ready(function () {
      if ($('#confirmEliminar').length) {
        console.log('#confirmEliminar exists')
      } else {
        console.log('#confirmEliminar does not exist')
      }
      // Cargar datos de usuarios
      $.ajax({
        url: '/servicios/api/servicios/',
        method: 'GET',
        success: function (data) {
          var serviciosTableBody = $('#users-table-body')
          data.forEach(function (servicio) {
            if(servicio.estado){
            var imagen = '<img src="' + servicio.imagen + '" alt="' + servicio.nombre + '" width="50">'
            var editButton = '<a href="/servicios/servicio/' + servicio.id + '/" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-pencil-alt"></i></a>'
            var deleteButton = '<button type="button" class="btn btn-danger" id="btnEliminar" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-titulo="Usuario" data-bs-nombre="' + servicio.nombre + '" data-bs-url="/servicios/servicio/eliminar/' + servicio.id + '/">              <i class="fas fa-trash-alt"></i>            </button>'
    
            serviciosTableBody.append('<tr>' + '<td>' + imagen + '</td>' + '<td>' + servicio.nombre + '</td>' + '<td>' + servicio.descripcion + '</td>' + '<td id="contenedorBotones">' + editButton + ' ' + deleteButton + '</td>' + '</tr>')
          }
          })
          $('#usuarios-table').DataTable({
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis'],
            layout: {
              topStart: 'buttons'
            },
            responsive: true,
            scroller: true
          })
        },
        error: function () {
          alert('Error al cargar los datos de los servicios.')
        }
        
      });
      $("body").on('click', '#btnEliminar', function(event) {
        
         // Obtener el valor de data-bs-url del botón
         var urlEliminar = $(this).data('bs-url');
          var usuario= $(this).data('bs-nombre');
         // Modificar el atributo href del enlace dentro del modal
         $('#confirmEliminar').attr('href', urlEliminar);
         $('#usuarioNombre').text(usuario);
        event.preventDefault();
      });
    })
  </script>
  <script>
    
    $(document).ready(function() {
      
    });
  </script>
{% endblock %}
