{% extends "user/base.html" %} 
{% block contenido %}
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="{% url "index" %}" class="h1">Ferreteria System</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Tu contraseña ha sido cambiada correctamente</p>
    
          <p class="mt-3 mb-1">
            <a href="{% url 'login' %}">Login</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
{% endblock contenido %}
