{% extends "./user/base.html" %}
{% load static %}
{% block titulo %}home{% endblock titulo %}
{% block contenido %}
  <body>
    <section class="carrusel mt-2 fw-bolder">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner fw-bolder">
          <div class="carousel-item active">
            <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../static/img/masgrandedelsector.jpg'); height: 600px; background-size: cover;">
            </div>            
            <div class="carousel-caption d-none d-md-block">
              <h2>ENCUENTRA EL DEPÓSITO MÁS GRANDE.</h2>
              <p class="fw-normal">
                Con suministros necesario para tu obra,desde las más grandes
                herramientas hasta los tornillos mas pequeños
              </p>
            </div>
          </div>
          <div class="carousel-item fw-bolder">
            <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../static/img/prueba2.jpg'); height: 600px; background-size: cover;">
            </div>  
            <div class="carousel-caption d-none d-md-block">
              <h2>ATRÉVETE A SOÑAR EN GRANDE.</h2>
              <p class="fw-normal">
                Con cada uno de los innovadores materiales que traemos de facil
                uso para que lo hagas tu mismo
              </p>
            </div>
          </div>
          <div class="carousel-item fw-bolder">
            <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../static/img/hombre-utilizando-fresadora-de-mano.jpg'); height: 600px; background-size: cover;">
            </div> 
            <div class="carousel-caption d-none d-md-block">
              <h2>HAZ REALIDAD TODO LO QUE IMAGINAS.</h2>
              <p class="fw-normal">
                Con nuestro diseños proporcionados por los más creativos,audaces
                y talentosos artistas podrás renovar tu hogar, oficina, negocio
                o el lugar que desees
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <section class="nosotros mt-3 text-white text-center">
      <h2 class="fw-bold fs-1 text-center ani">LAS MEJORES HERRAMIENTAS</h2>
      <div class="container pt-3">
        <div class="row">
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CALIDAD</h5>
                <p class="card-text">
                  Contamos con las mejores herramientas para las diferentes
                  actividades que impliquen mejorar las condiciones del lugar.
                </p>
                <a href="{% url 'lista-productos' %}" class="btn btn-1">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">PRECIO</h5>
                <p class="card-text">
                  Si buscas economía en los artículos que necesites a la hora de
                  crear o remodelar, este es el mejor lugar para buscar.
                </p>
                <a href="{% url 'lista-productos' %}" class="btn btn-2">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">PRACTICIDAD</h5>
                <p class="card-text">
                  Encuentra las herramientas experimentadas y fáciles de usar en
                  las diferentes situaciones para mejorar tu entorno.
                </p>
                <a href="{% url 'lista-productos' %}" class="btn btn-3">Conoce más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--           
        <div class="container pt-3">
           <a href="#" class="btn btn-4">DESCUBRELO</a>
          </div>
          -->
    </section>
    <section class="servicios mt-3 text-start">
      <div class="container pt-3">
        <h2 class="fw-bold fs-1 text-center ani">
          TENEMOS LOS MEJORES SERVICIOS A TU ALCANCE
        </h2>
        <div class="row">
          <div class="class col-md-3">
            <img
              src="{% static "img/el-tiempo-de-entrega.png" %}"
              class="rounded mx-auto d-block my-3"
              alt="asesoria"
            />
            <h4>Envíos</h4>
            <p class="texto-servicios">
              Seguros. Hacemos envíos a todo el país, con el fin de apoyarte en
              tus actividades.
            </p>
          </div>
          <div class="class col-md-3">
            <img
              src="{% static "img\consulta.png" %}"
              class="rounded mx-auto d-block my-3"
              alt="asesoria"
            />
            <h4>Asesores de alta calidad</h4>
            <p class="texto-servicios">
              Tenemos a disposición la mejor asesoria para tus necesidades. Estaran encantados de ayudarte.
            </p>
          </div>
          <div class="class col-md-3">
            <img
              src="{% static "img/trabajadores.png" %}"
              class="rounded mx-auto d-block my-3"
              alt="asesoria"
            />
            <h4>Personal capacitado</h4>
            <p class="texto-servicios">
              Si necesitas ayuda a la hora de construir tus sueños, nuestro
              equipo de arquitectos, maestros y diseñadores de interiores lo
              hará realidad.
            </p>
          </div>
          <div class="class col-md-3">
            <img
              src="{% static "img/servicio-al-cliente.png" %}"
              class="rounded mx-auto d-block my-3"
              alt="asesoria"
            />
            <h4>Atención personalizada</h4>
            <p class="texto-servicios">
              Te ofrecemos una atención totalmente personal para solucionar
              cualquier duda o consulta.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="container catalogo mt-3">
      <div class="row">
        <div class="col-lg-4">
          <img
            src="{% static "img/tornilleria.jpg" %}"
            class="card-img-top"
            alt="tornilleria"
          />
          <h5 class="card-title">TORNILLERIA</h5>
        </div>
        <div class="col-lg-4">
          <img
            src="{% static "img/herramientas_de_construcción.jpg" %}"
            class="card-img-top"
            alt="herramientas"
          />
          <h5 class="card-title">HERRAMIENTAS DE CONSTRUCCIÓN</h5>
        </div>
        <div class="col-lg-4">
          <img
            src="{% static "img/materiales_de_construcción.jpg" %}"
            class="card-img-top"
            alt="..."
          />
          <h5 class="card-title">MATERIALES DE CONSTRUCCIÓN</h5>
        </div>
      </div>
    </section>
    <section class="container contacto">
      <h2>TE CONTÁCTAREMOS</h2>
       {% comment %}
      <form action="">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="nombre" class="form-label">NOMBRE</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              placeholder="Andres "
            />
          </div>
          <div class="col-md-6">
            <label for="apellido" class="form-label">APELLIDO</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              placeholder="Ruiz Salazar"
            />
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">CORREO</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Ingresa tu Email"
            />
          </div>
          <div class="col-md-6">
            <label for="number" class="form-label">NUMERO</label>
            <input
              type="number"
              class="form-control"
              id="number"
              placeholder="+ 57 313290587"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Terminos y Condiciones</label
            >
              {% endcomment %}
          </div>
          <div class="col-6">
            <a type="submit" href="{% url 'contacto' %}" class="btn">CONTÁCTAME</a>
          </div>
        </div>
      </form>
    </section>
    {% comment %} <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script> {% endcomment %}
    <!-- recordar modificar el script y varios direcciones de enlaces -->
  </body>
</html>
{% endblock  %}