{% extends "./user/base.html" %}
{% load static %}
{% block titulo %}products{% endblock titulo %}
{% block contenido %}
{% load humanize %}
<body>
  <section class="container formulario">
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
      ></div>
      <div
        class="tab-pane fade show active"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
      >
        <h2 class="text-center h2 fs-bold m-4 text-white">PRODUCTOS</h2>
        <div
          class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4"
        >
        {% for p in productos %}
          <div class="col d-flex justify-content-center mb-4">
            <div
              class="card shadow mb-1 bg-dark rounded"
              style="width: 15rem"
            >
              <h5 class="card-title pt-2 text-center">{{ p.nombre }}</h5>
              <img
                src="{{p.imagen.url}}"
                class="card-img-top"
                alt="{{ p.nombre }}"
                style="height: 200px"
              />
              <div class="card-body" style="width 100%">
                <p class="card-text description fs-6 ">
                  {{ p.descripcion }}
                </p>
                <h5 class="precio text-center">
                  Precio: <span>${{ p.precio | intcomma}}</span>
                </h5>
                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="button">
                    Añadir al carrito
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
      >
        Contenido del carrito
      </div>
    </div>
  </section>
{% endblock %}